@model IEnumerable<PayrollUsingJqueryUIWithValidation.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*<<<<<<====Insert====>>>>>>>>*@

<p>
    <button id="model-openner-btn" onclick="CreateNewPayment()">Add New Employee</button>
</p>
<div id="load"></div>

@*<<<<<<====Alert====>>>>>>>>*@
<div id="dialog-alert" style="display: none">
    <p>
        @TempData["msg"]!
    </p>
</div>
@*<<<<<<====Delete====>>>>>>>>*@
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
@*<<<<<<====View Details====>>>>>>>>*@
<div id="dialog-view" style="display: none">
</div>
@*<<<<<<====Edit====>>>>>>>>*@
<div id="dialog-edit" style="display: none">
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Transaction_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transaction_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Id)
        </td>
        <td>
            <button id="model-openner-btn">
                @Html.ActionLink("Edit", "_EditPayment", new { id = item.Payment_Id }, new { @class = "editDialog" })
            </button>|
            <button id="model-delete-btn">
                @Html.ActionLink("Delete", "DeleteRecord", new { id = item.Payment_Id }, new { @class = "confirmDialog" })
            </button>|
            <button id="model-details-btn">
                @Html.ActionLink("Details", "_PaymentDetails", new { id = item.Payment_Id }, new { @class = "ViewDialog" })
            </button>
        </td>
    </tr>
}

</table>
<script type="text/javascript">

    var url = "";
    //<<<<<<<<<<<<<====== Create/Insert New Department========>>>>>>>>>>>>>>>>>
    function CreateNewPayment() {
        $("#model-openner-btn").click(function () {
            $("#load").dialog("open");
        });
        $(function () {
            $("#load").dialog({
                autoOpen: false,
                //position: { my: "center", at: "top+14050", of: window },
                resizable: false,
                title: 'Add New Payment',
                show: { effect: "blind", duration: 1000 },
                hide: { effect: "explode", duration: 1000 },
                height: 460,
                width: 410,
                model: true,
                draggable: true,
                open: function () {
                    $(this).load("/Payment/_CreateNewPayment");
                    @*$(this).load('@Url.Action("_CreateNewDepartment", "Department")');*@
                },
                buttons: {
                    "Add": function () {

                        $("#formId").submit();
                        AddPaymentInfo();
                    },
                    'Cancel': function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    }

    function AddPaymentInfo() {

        alert($("#Employee_Id").val());
        $(function () {
            $.post('/Payment/_CreateNewPayment', {
                "transaction_No": $("#Transaction_No").val(), "transaction_Date": $("#Transaction_Date").val(),
                "year_": $("#Year_").val(), "month_": $("#Month_").val(),
                "total_Amount": $("#Total_Amount").val(), "employee_Id": $("#Employee_Id").val()
            });
        });
    }

    //<<<<<<<<=====Alert========>>>>>>>>>>>>
    $("#dialog-alert").dialog({
        title: 'Alert',
        autoOpen: false,
        resizable: false,
        height: 170,
        width: 350,
        show: { effect: 'drop', direction: "up" },
        modal: true,
        draggable: true,

        buttons: {
            "OK": function () {
                $(this).dialog("close");

            },
            "Cancel": function () {
                $(this).dialog("close");
            }
        }
    });
    if ('@TempData["msg"]' != "") {
        $("#dialog-alert").dialog('open');
    }

    //<<<<<<<<<<<<<<<<<<<<==========Delete=============>>>>>>>>>>>>>>>>>>>>>>>>>
    $(".confirmDialog").live("click", function (e) {

        var url = $(this).attr('href');
        $("#dialog-confirm").dialog({
            title: 'Delete Payment Information',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: "blind", duration: 1000 },
            hide: { effect: "explode", duration: 1000 },
            modal: true,
            draggable: true,
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-confirm").dialog('open');
        return false;
    });


    //<<<<<<<<<<<<<<<<<<<<==========View Details=============>>>>>>>>>>>>>>>>>>>>>>>>>
    $(".ViewDialog").live("click", function (e) {

        var url = $(this).attr('href');
        $("#dialog-view").dialog({
            title: 'View Payment',
            autoOpen: false,
            resizable: false,
            height: 370,
            width: 350,
            show: { effect: "blind", duration: 1000 },
            hide: { effect: "explode", duration: 1000 },
            modal: true,
            draggable: true,
            open: function () {
                $(this).load(url);
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-view").dialog('open');
        return false;
    });

    //<<<<<<<<<<<<<<<<<<<<=======================>>>>>>>>>>>>>>>>>>>>>>>>>

    //<<<<<<<<<<<<<<<<<<<<=========Edit==============>>>>>>>>>>>>>>>>>>>>>>>>>
    $(".editDialog").live("click", function (e) {
        var url = $(this).attr('href');

        $("#dialog-edit").dialog({
            title: 'Update Payment Information',
            autoOpen: false,
            resizable: false,
            height: 450,
            width: 400,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function () {
                $(this).load(url);
            },
            close: function () {
                $(this).dialog('close');
            }
        ,
            buttons: {
                "Update": function () {
                    $("#formId").submit();
                    EditPaymentInfo();
                },
                'Cancel': function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-edit").dialog('open');
        return false;
    });

    function EditPaymentInfo() {
        $(function () {
            $.post('/Employee/_EditEmployee', {
                "transaction_No": $("#Transaction_No").val(), "transaction_Date": $("#Transaction_Date").val(),
                "year_": $("#Year_").val(), "month_": $("#Month_").val(),
                "total_Amount": $("#Total_Amount").val(), "employee_Id": $("#Employee_Id").val()
            });
        });
    }

</script>
