@model PayrollUsingJqueryUIWithValidation.Models.Salary

<div>
    <h4>Salary</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Basic_Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Basic_Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House_Rent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House_Rent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conveyance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conveyance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

    </dl>
</div>

